.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 16px 0;
  }
  
  .button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button:hover {
    background-color: #f0f0f0;
  }
  
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .active {
    background-color: #dfdffb;
    color: purple;
    border-color: #dfdffb;
  }