.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .layoutHeader {
    background-color: #b9bbfa;
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 20px;
 
  }
  
  .layoutMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
    width: 500px;
    margin: 30px auto;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

